body {
	background-image: url(../img/fondo.jpg);
	font-family:Arial;
	padding: 20px;
	white-space: nowrap;
	scrollbar-face-color:#8080FF ;
	scrollbar-arrow-color:#FFFFFF ;
	scrollbar-track-color:#DDDDFF ;
	scrollbar-shadow-color:'';
	scrollbar-highlight-color:'';
	scrollbar-3dlight-color:'';
	scrollbar-darkshadow-Color:'';
}

form {
	display: inline-block;
}

.lista{
	padding: 10px 40px;
	background-color: rgba(0,0,0,0.4);
	display: inline-block;
	margin-left: 13px;
}

.lista:hover{
	background-color: rgba(0,0,0,0.8);
}

.formulario{
	background-color: #E2E4E6;
	padding: 4px;
	border-radius: 5px;
	margin-left: 3px;
	width: 90%;
}

.button:hover{
	background-color: #57A641;
}

.button {
	background-color: #61BD4F;
	padding: 10px 20px;
	margin-top: 10px;
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
}

.formulario, .lista {
	margin-bottom: 5px;
}

.lista, .button {
	border: none;
	color: white;
	font-size: 1em;
	border-radius: 5px;
}

.none{
	display: none;
}

.formulario input{
	width: 87%;
	box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 8px inset;
	background-color: rgba(0, 0, 0, 0.0470588);
	padding: 10px;
	border-radius: 5px;
	border-color: rgb(170, 170, 170);
	font-size: 1em;
	display: block;
}

.close{
	float: none;
	font-size: 2.5em;
}

.padding {
	padding: 10px 40px 10px 20px;
	word-wrap: break-word;
}

.negrita {
	font-weight: bold;
	text-decoration: none;
}

.grey a{
	color: #B3B4B5;
}

.grey:hover{
	background-color: #CDD2D4;
	text-decoration: underline;
}

.grey:hover a{
	color: black;
}

.white {
	background-color: white;
}

.inline-block {
	display: inline-block;
	vertical-align: top;
	width: 14%;
}

.padre {
	display: inline-block;
	height: auto;
	vertical-align: top;
}

.textArea{
	border-radius: 5px;
	font-size: 1em;
	display: block;
	width: 65%;
}


.mensajes {
	padding: 5px;
	background-color: white;
	word-wrap: break-word;
	white-space: pre-line;
	margin-bottom: 5px;
}

.o-auto {
	overflow: auto;
}

.saltos {
	word-wrap: break-word;
}

.auto{
	background-color: rgba(226,228,230, 0.7);
}

.dragstar{
	background-color: transparent;
}

.dragenter{
	background-color: #9999CC;
}
.dragover{
	border: 1px dashed black;
}